body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}

.flag-container {
    width: 100vw;
    height: calc(50vw / 3);
    position: relative;
    background: #e00034;
    border-top: calc(50vw / 3) solid #0097c3;
    border-bottom: calc(50vw / 3) solid #00ae65;
}

.flag-crescent {
    position: absolute;
    width: 10vw;
    height: 10vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #e00034;
    box-shadow: -10px 0 0 7px #fff;
}

.star {
    width: 0.8vw;
    height: 0.8vw;
    position: relative;
    display: flex;
    left: 58vw;
    top: 5vw;
    justify-content: center;
    transform: rotate(22.5deg);
}

.star1 {
    transform: rotate(0deg);
}

.star2 {
    transform: rotate(180deg);
    position: absolute;
    top: 1.55vw;
}

.star1,
.star2 {
    width: 0;
    height: 0;
    border-width: 1.6vw 1.6vw 4.5vw;
    border-style: solid;
    border-color: transparent white white;
}

.star1:after,
.star2:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -0.8vw;
    left: -0.8vw;
    border-width: 1.6vw 1.6vw 4.5vw;
    border-style: solid;
    border-color: transparent white white;
    transform: rotate(90deg);
}

.flag-star::after {
    transform: rotate(90deg);
}